.loc-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: #1e213a;
  overflow-y: scroll;
}

.close {
  background: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 2px;
  background: #e7e7eb;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.search-list--wrapper {
  margin: 60px 12px 0 12px;
  position: relative;
}

.search-input {
  background: transparent;
  color: #616475;
  border: thin solid #e7e7eb;
  padding: 14px 14px 14px 40px;
  font-size: 1.6rem;
  width: 100%;
}

.search-input--wrapper .material-icons {
  position: absolute;
  top: 12px;
  left: 9px;
  color: #616475;
}

.search-form {
  display: flex;
}

.submit-btn {
  background: #3c47e9;
  border: thin solid #3c47e9;
  font-size: 1.6rem;
  padding: 14px;
  margin-left: 12px;
  color: #e7e7eb;
}

.match-list {
  list-style-type: none;
}

.match-item {
  font-size: 1.6rem;
  margin: 36px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .material-icons {
    color: transparent;
  }
  &:hover {
    border: thin solid #616475;
    .material-icons {
      color: #616475;
    }
  }
}
