@media only screen and (min-width: 961px) {
  .weather-app {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .sidebar {
    width: 50vw;
  }
  .main-content {
    height: 100vh;
  }
  .todays-desc {
    margin: 100px auto;
  }
  .weekly-forecast {
    grid-template-columns: repeat(5, 1fr);
  }
  .highlights-header {
    margin: auto 54px;
  }
  .highlights-wrapper {
    margin: 24px 54px auto 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
  }
  .highlight {
    width: 100%;
    margin: 0;
  }
  .progress-bar--wrapper {
    margin-bottom: 20px;
  }
  .button {
    top: 25px;
    right: 20px;
  }
  footer {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 25%;
    font-size: 1.4rem;
    color: #a09fb1;
  }
  .loc-nav {
    position: absolute;
    width: 100%;
  }
}
